nodejs-mongodb-demo.iml
/.idea/
/node_modules/
npm-debug.log

.env
/infra/.terraform.lock.hcl
infra/.terraform/modules/modules.json
infra/.terraform/providers/registry.terraform.io/hashicorp/aws/5.15.0/linux_amd64/terraform-provider-aws_v5.15.0_x5
